.about {
  padding-bottom: 0;
  &__item {
    display: inline-block;
    width: 270px;
    margin-right: -3px;
  }
  &__item:not(:first-child) {
    margin-left: 30px;
  }
}
.about__title {
  margin-top: 0;
  margin-bottom: 10px;
  color: $primary-text-color;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  letter-spacing: 0.03em;
}
.about__text {
  margin: 0;
  color: $secondary-text-color;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.8;
  letter-spacing: 0.03em;
}
.about__box {
  @include flexCenter;
  height: 120px;
  margin-bottom: 30px;
  background-color: $button-bg-color;
  border-radius: 4px;
}
