.breadcrumbs {
  padding-top: 94px;
  padding-bottom: 94px;
}
.breadcrumbs__list {
  display: flex;
  flex-wrap: wrap;
  margin-right: -30px;
  margin-bottom: -30px;
}
.breadcrumbs__elements {
  display: block;
  flex-basis: calc(100% / 3 - 30px);
  .list:hover,
  .list:focus {
    display: block;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
  &:hover .breadcrumbs__about {
    transform: translateY(0);
  }
}
.breadcrumbs__elements:not(:nth-child(3n)) {
  margin-right: 30px;
  margin-bottom: 30px;
}
.breadcrumbs__holder {
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  padding: 20px 24px 20px 24px;
}
.breadcrumbs__title {
  margin-top: 0px;
  margin-bottom: 4px;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  color: $primary-text-color;
  letter-spacing: 0.06em;
}
.breadcrumbs__subtitle {
  margin-top: 0px;
  margin-bottom: 0px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  color: $secondary-text-color;
  letter-spacing: 0.03em;
}
.breadcrumbs__text {
  position: relative;
  overflow: hidden;
}
.breadcrumbs__about {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  color: $primary-bg-color;
  background: rgba(33, 150, 243, 0.9);
  padding: 63px 24px 63px 24px;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  margin: 0;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
