.team {
  background-color: #f5f4fa;
  margin-left: auto;
  margin-right: auto;
}
.team__name {
  margin-bottom: 10px;
  margin-top: 0px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: $primary-text-color;
}
.team__about {
  margin-top: 0px;
  margin-bottom: 0px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: $secondary-text-color;
}
.team__holder {
  padding-top: 30px;
  padding-bottom: 30px;
}
.team__flex-element {
  display: inline-block;
  background-color: $primary-bg-color;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}
.team__flex-element:not(:last-child) {
  margin-right: 30px;
}
.team__flex-element:not(:last-child) {
  width: calc((100% - 90px) / 4);
}
.team__list,
.social__list {
  @include flexCenter;
  margin-top: 16px;
}
.social__item:not(:last-child) {
  margin-right: 10px;
}
.social__item {
  width: 44px;
  height: 44px;
}
.social__link {
  @include flexCenter;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: $accent-text-color;
    fill: $primary-bg-color;
  }
}
