/*колір основного тексту #212121*/
/* колір опису #757575 */
/*колір  ссилок футера rgba(255, 255, 255, 0.6); */
/*акцент #2196F3 */
/*color header #FFFFFF */
/*hero and footer #2F303A */
/*section 2 #E5E5E5 */
/*section 3 #F5F4FA */

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  /* outline: 2px solid red; */
}
